<div class="inamr-registration-container">
  <div class="inamr-registration-container__heading">
    <h2 class="mat-h2">Register Yourself</h2>
  </div>
  <div class="inamr-registration-container__steps">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step [completed]="isValidfirstForm">
        <ng-template matStepLabel>Personal Information</ng-template>
        <app-personal-info (valueChangedFirstForm)="valueChangedFirstForm($event)"></app-personal-info>
      </mat-step>
      <mat-step [completed]="isValidSecondForm">
        <ng-template matStepLabel>Work Experience</ng-template>
        <app-work-experience></app-work-experience>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>

  </div>
</div>