<div class="inamr-registration-container">
  <div class="inamr-registration-container__heading">
    <h2 class="mat-h2">Register Yourself</h2>
  </div>
  <div class="inamr-registration-container__steps">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step [completed]="isValidfirstForm">
        <ng-template matStepLabel>Personal Information</ng-template>
        <app-personal-info (valueChangedFirstForm)="valueChangedFirstForm($event)" (onSubmit)="onNextClick($event)"></app-personal-info>
      </mat-step>
      <mat-step [completed]="isValidSecondForm">
        <ng-template matStepLabel>Work Experience</ng-template>
        <app-work-experience (valueChangedSecondForm)="valueChangedSecondForm($event)" (onSubmit)="onNextClick($event)"></app-work-experience>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Education Details</ng-template>
        <app-education-detail></app-education-detail>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Skills</ng-template>
        <app-skills></app-skills>
      </mat-step>
    </mat-horizontal-stepper>

  </div>
</div>