.inmar-container {
    width: 100%;
    // height: -webkit-fill-available;
    margin: 0;
    padding: 0;
    background: aliceblue;

    &__home {
        margin: 1.5rem 2.5rem;
        background: #fbfbfc;
        display: flex;
        flex-direction: column;
    }

    &__logo {
        display: flex;
        align-items: center;
        background: white;
        justify-content: space-between;

        img {
            width: 8.3%;
        }
    }

    &__body {
        
    }
}

::ng-deep app-login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    // flex-direction: column;
}