.inmar-work-container {
    display: flex;
    flex-direction: column;

    .inmar-work-experience {
        .inmar-form-field {
            min-width: 20%;
            max-width: 30%;
        }

        &__details {
            min-height: 37vh;
            max-height: 68vh;
            overflow-y: scroll;
        }
    }

    .back-margin {
        margin-top: 2rem;
    }
}